.arrow {
	display: inline-block;
	width: 6px;
	height: 6px;
	border: 2px solid $sub;
	border-left: none;
	border-top: none;
	transform: rotate(-45deg);
	transition: transform ease 0.2s;
}

.arrow_24 {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 2px solid $black;
	border-left: none;
	border-top: none;
	transform: rotate(-45deg);
	transition: transform ease 0.2s;
}

//icons
*[class*="icon_32_"] {
	display: inline-block;
	width: 32px;
	height: 32px;
}
.icon_32_search {
	background: url(images/search_32.svg);
}
.icon_32_notibell {
	background: url(images/bell_32.svg);
}

*[class*="icon_24_"] {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.icon_24_hamberger {
	background: url(images/hamberger_24.svg);
}
.icon_24_cancel {
	background: url(images/cancel_24.svg);
	cursor: pointer;
}

*[class*="icon_12_"] {
	display: inline-block;
	width: 12px;
	height: 12px;
}
.icon_12_map {
	background: url(images/map_12.svg);
}