$primary: #ff6b6b;
$secondary: #2f4858;
$info: #00a6ed;
$danger: #ee3239;
$success: #27ae60;
$black: #1b1d1f;

$sub: #72787f;

$back_primary: #f6ebef;
$back_info: #ddedf9;
$back_black: rgba(0, 0, 0, 0.25);
$back_gray: #f7f8f9;
$back_blank: #e8ebed;

$footer: #26282b;
$max_width: 1200px;