@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.mgt_4 {
  margin-top: 4px !important;
}

.mgt_8 {
  margin-top: 8px !important;
}

.mgt_12 {
  margin-top: 12px !important;
}

.mgt_16 {
  margin-top: 16px !important;
}

.mgt_20 {
  margin-top: 20px !important;
}

.mgt_24 {
  margin-top: 24px !important;
}

.mgt_28 {
  margin-top: 28px !important;
}

.mgt_32 {
  margin-top: 32px !important;
}

.mgt_36 {
  margin-top: 36px !important;
}

.mgt_40 {
  margin-top: 40px !important;
}

.mgl_4 {
  margin-left: 4px !important;
}

.mgl_8 {
  margin-left: 8px !important;
}

.mgl_12 {
  margin-left: 12px !important;
}

.mgl_16 {
  margin-left: 16px !important;
}

.mgl_20 {
  margin-left: 20px !important;
}

.mgl_24 {
  margin-left: 24px !important;
}

.mgl_28 {
  margin-left: 28px !important;
}

.mgl_32 {
  margin-left: 32px !important;
}

.mgl_36 {
  margin-left: 36px !important;
}

.mgl_40 {
  margin-left: 40px !important;
}

.mgr_4 {
  margin-right: 4px !important;
}

.mgr_8 {
  margin-right: 8px !important;
}

.mgr_12 {
  margin-right: 12px !important;
}

.mgr_16 {
  margin-right: 16px !important;
}

.mgr_20 {
  margin-right: 20px !important;
}

.mgr_24 {
  margin-right: 24px !important;
}

.mgr_28 {
  margin-right: 28px !important;
}

.mgr_32 {
  margin-right: 32px !important;
}

.mgr_36 {
  margin-right: 36px !important;
}

.mgr_40 {
  margin-right: 40px !important;
}

.mgb_4 {
  margin-bottom: 4px !important;
}

.mgb_8 {
  margin-bottom: 8px !important;
}

.mgb_12 {
  margin-bottom: 12px !important;
}

.mgb_16 {
  margin-bottom: 16px !important;
}

.mgb_20 {
  margin-bottom: 20px !important;
}

.mgb_24 {
  margin-bottom: 24px !important;
}

.mgb_28 {
  margin-bottom: 28px !important;
}

.mgb_32 {
  margin-bottom: 32px !important;
}

.mgb_36 {
  margin-bottom: 36px !important;
}

.mgb_40 {
  margin-bottom: 40px !important;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 14px;
  text-decoration: none;
  list-style: none;
  letter-spacing: -0.41px;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  box-sizing: border-box;
}

section {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
}

.flex_between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button {
  padding: 6px 24px;
  background: #2f4858;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
}

button.outline {
  background: white;
  border: 1px solid #2f4858;
  color: #2f4858;
  font-weight: 500;
}

input {
  width: 100%;
  border: 1px solid #c9cdd2;
  padding: 16px;
  font-size: 16px;
  color: #1b1d1f;
  border-radius: 5px;
  box-sizing: border-box;
}

input:placeholder {
  color: #9ea4aa;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 0;
  appearance: none;
  border: none;
  border-radius: 2px;
  background: #e8ebed;
}

input[type="checkbox"]:checked {
  background-color: #004df0;
}

label {
  width: 100%;
  line-height: 2;
  font-size: 16px;
  color: #1b1d1f;
}

.thumbnail16_9 {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: black;
  box-sizing: border-box;
  overflow: hidden;
}

.thumbnail16_9 > img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.badge {
  position: absolute;
  top: 8px;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #ff6b6b;
  color: white;
}

.badge.left {
  left: 8px;
}

.badge.right {
  right: 8px;
}

.badge.trans_black {
  background-color: rgba(0, 0, 0, 0.25);
}

.badge.waitng {
  background-color: #548687;
}

.badge.success {
  background-color: #27ae60;
}

.badge.info {
  background-color: #00a6ed;
}

.item_tag {
  display: inline-block;
  padding: 4px 6px;
  margin-top: 4px;
  margin-right: 8px;
  border-radius: 2px;
  background-color: #f7f8f9;
  color: #72787f;
  word-break: keep-all;
}

.bold {
  font-weight: bold;
}

.txt_center {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  body {
    padding-bottom: 0;
    height: 100%;
  }
}

.arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid #72787f;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg);
}

.arrow_24 {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #1b1d1f;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg);
}

*[class*="icon_32_"] {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.icon_32_search {
  background: url(images/search_32.svg);
}

.icon_32_notibell {
  background: url(images/bell_32.svg);
}

*[class*="icon_24_"] {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon_24_hamberger {
  background: url(images/hamberger_24.svg);
}

.icon_24_cancel {
  background: url(images/cancel_24.svg);
  cursor: pointer;
}

*[class*="icon_12_"] {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.icon_12_map {
  background: url(images/map_12.svg);
}

header {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 16px;
  align-items: center;
}

.top_nav {
  display: flex;
  margin-left: 60px;
  box-sizing: border-box;
}

.top_nav a {
  font-size: 18px;
  color: #1b1d1f;
  font-weight: bold;
  margin-left: 30px;
}

.nav_icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav_icons > span {
  margin-right: 32px;
  cursor: pointer;
}

.nav_icons .icon_24_hamberger {
  display: none;
  cursor: pointer;
}

.side_nav {
  z-index: 3;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  padding: 0;
  transition: left 0.5s;
}

.side_nav .background {
  width: 60%;
  height: 100%;
  margin-left: auto;
  background-color: white;
  padding: 16px;
  box-sizing: border-box;
}

.side_nav .background .icon_24_cancel {
  float: right;
}

.side_nav .background .auth_description {
  padding: 24px 0;
  text-align: center;
}

.auth_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 40px;
}

.menus {
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid #e8ebed;
  border-bottom: 1px solid #e8ebed;
}

.menus a {
  display: block;
  width: 100%;
  color: #1b1d1f;
  font-size: 16px;
  line-height: 3;
}

.event {
  padding: 28px 0;
}

.event .title {
  font-size: 18px;
  font-weight: bold;
}

.event .event_item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 8px;
  background-color: #ececec;
}

.event .event_item .item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  background-color: #f7f8f9;
}

.event .event_item .item_info .title {
  width: 100%;
  height: 3em;
  font-size: 16px;
  font-weight: 500;
  color: #1b1d1f;
  line-height: 1.5em;
  padding: 0px;
}

.event .event_item .item_info .sub_title {
  font-size: 14px;
  color: #72787f;
  padding: 0;
}

@media screen and (min-width: 1025px) {
  .side_nav {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header > img {
    width: 94px;
  }
  .top_nav {
    display: none;
  }
  .nav_icons > span {
    width: 24px;
    height: 24px;
    background-size: 24px;
    margin-right: 20px;
  }
  .nav_icons button {
    display: none;
  }
  .nav_icons .icon_24_hamberger {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .side_nav .background {
    width: 85%;
  }
}

@media screen and (max-width: 420px) {
  .event .title {
    font-size: 16px;
  }
  .event .event_item .item_info {
    padding: 4px;
  }
  .event .event_item .item_info .title {
    font-size: 12px;
  }
  .event .event_item .item_info .sub_title {
    font-size: 11px;
  }
}

footer {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #26282b;
}

footer .footer_wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #454c53;
}

.footer_nav ul {
  display: flex;
  text-align: center;
}

.footer_nav ul a, .footer_nav ul li {
  color: #c9cdd2;
}

.footer_nav ul:last-child a, .footer_nav ul:last-child li {
  font-weight: bold;
  color: white;
}

.footer_nav ul li + li {
  margin-left: 40px;
}

.company_info {
  display: flex;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 18px;
  color: #c9cdd2;
}

.company_info img {
  width: 84px;
  margin-top: 4px;
  margin-right: 40px;
}

.company_info .info {
  font-size: 12px;
  line-height: 1.5;
  color: #9ea4aa;
}

.company_info .info span {
  display: inline-block;
  width: 8px;
  height: 13px;
  margin-right: 8px;
  border-right: 1px solid #9ea4aa;
  vertical-align: -2px;
}

.footer_mob {
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  position: static;
}

.footer_mob .footer_nav {
  padding: 16px 0;
  line-height: 3;
}

.footer_mob .footer_nav img {
  vertical-align: -8px;
}

.footer_mob .footer_nav > div p {
  color: #c9cdd2;
}

.footer_mob .footer_nav > div p:first-child {
  font-weight: 600;
  color: #72787f;
}

.footer_mob .footer_nav.mob {
  padding: 16px 90px;
}

.footer_mob .company_info {
  display: block;
}

@media screen and (min-width: 1025px) {
  .footer_pc {
    display: block;
  }
  .footer_mob {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .footer_pc {
    display: none;
  }
  .footer_mob {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .footer_mob .footer_nav.mob {
    padding: 16px 0;
  }
}

.now_bidding {
  box-sizing: border-box;
  margin-top: 40px;
  overflow: hidden;
}

.now_bidding .bidding_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.now_bidding .bidding_title .main_title {
  font-size: 24px;
  font-weight: 600;
  color: #1b1d1f;
}

.now_bidding .bidding_title .sub_title {
  font-size: 14px;
  font-weight: 600;
  color: #72787f;
  cursor: pointer;
}

.now_bidding .bidding_title .sub_title > .arrow {
  margin-left: 4px;
  margin-bottom: 1px;
}

.now_bidding .now_bidding_list {
  max-width: 1200px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  margin: 0 auto;
  margin-top: 24px;
}

.now_bidding .now_bidding_list:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  width: 16px;
  height: 16px;
  border: 3px solid #1b1d1f;
  border-right: none;
  border-bottom: none;
  transform: rotate(-45deg);
  cursor: pointer;
}

.now_bidding .now_bidding_list:after {
  content: "";
  position: absolute;
  right: -40px;
  top: 50%;
  width: 16px;
  height: 16px;
  border: 3px solid #1b1d1f;
  border-right: none;
  border-bottom: none;
  transform: rotate(135deg);
  cursor: pointer;
}

.item_card {
  width: 100%;
  background-color: #f7f8f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}

.item_card .item_info {
  padding: 16px;
}

.item_card .item_info > .main_title {
  font-size: 18px;
  color: #454c53;
}

.item_card .item_info > .sub_title {
  font-weight: 500;
}

.item_card .item_price {
  text-align: right;
  margin-bottom: 16px;
}

.item_card .item_price .main_title {
  font-size: 16px;
  font-weight: 500;
}

.item_card .item_price .sub_title {
  font-size: 22px;
  font-weight: 600;
  color: #ff6b6b;
}

.line_badge {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ee3239;
}

.line_badge > p {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  section {
    min-width: 320px;
  }
  .now_bidding {
    width: 100%;
    margin-top: 20px;
  }
  .now_bidding .now_bidding_list {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: 130%;
  }
}

@media screen and (max-width: 720px) {
  .now_bidding .now_bidding_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .now_bidding .now_bidding_list {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.login, .register {
  max-width: 580px;
  margin: 40px auto;
}

.login .title_box, .register .title_box {
  position: relative;
}

.login .title_box .arrow_24, .register .title_box .arrow_24 {
  position: absolute;
  display: none;
  top: 12px;
  left: 4px;
  transform: rotate(135deg);
}

.login form, .register form {
  width: 100%;
  padding: 0;
  margin-top: 40px;
}

.login form div + div, .register form div + div {
  margin-top: 24px;
}

.login form button, .register form button {
  width: 100%;
  margin-top: 40px;
  padding: 16px;
}

.login .sub_menu, .register .sub_menu {
  margin-top: 60px;
  text-align: center;
}

.login .sub_menu a, .register .sub_menu a {
  color: #72787f;
  padding: 0 16px;
}

.login .sub_menu a:nth-child(2), .register .sub_menu a:nth-child(2) {
  border-left: 1px solid #72787f;
  border-right: 1px solid #72787f;
}

.login .main_title, .register .main_title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.terms {
  display: flex;
  align-items: center;
}

.terms input {
  min-width: 20px;
}

.terms label {
  font-size: 14px;
  padding: 0 10px;
  line-height: 1;
  display: inline;
  width: auto;
}

.terms span {
  color: #ee3239;
  font-size: 12px;
}

.terms div {
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .login .title_box .arrow_24, .register .title_box .arrow_24 {
    display: inline-block;
  }
}

.main_title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 40px 0;
}

.bidding_detail {
  max-width: 1200px;
  padding: 16px;
  padding-bottom: 0;
  display: flex;
}

.bidding_detail article + article {
  border-top: 1px solid #e8ebed;
}

.bidding_info {
  width: 100%;
}

.bidding_info .title_box_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bidding_info .title_box_1 p {
  font-size: 16px;
}

.bidding_info .title_box_1 small {
  font-size: 12px;
  color: #72787f;
}

.bidding_info .title_box_2 {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.bidding_info .title_box_2 .box_left p {
  font-size: 20px;
  font-weight: bold;
}

.bidding_info .title_box_2 .box_left small {
  font-size: 14px;
  color: #72787f;
}

.bidding_info .title_box_2 .box_right {
  width: 52px;
  background-color: #2f4858;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
}

.bidding_info .title_box_2 .box_right img {
  vertical-align: -10px;
}

.bidding_info .img_description img {
  width: 100%;
}

.info_wide_right {
  min-width: 376px;
  border: 1px solid #e8ebed;
  padding: 0;
}

.info_wide_right .top_menus {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: #454c53;
}

.info_wide_right .top_menus div {
  padding-left: 20px;
  color: white;
  line-height: 40px;
  position: relative;
}

.info_wide_right .top_menus div + div {
  margin-left: 32px;
}

.info_wide_right .top_menus div:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 12px;
}

.info_wide_right .top_menus .history:before {
  background: url(images/history_16.svg);
}

.info_wide_right .top_menus .interest:before {
  background: url(images/star_16.svg);
}

.info_wide_right .top_menus .share:before {
  background: url(images/share_16.svg);
}

.info_wide_right [class*="bidding_info_"] {
  padding: 16px;
}

.info_wide_right [class*="bidding_info_"] label {
  font-weight: bold;
}

.info_wide_right [class*="bidding_info_"] > div + div {
  margin-top: 20px;
}

.info_wide_right [class*="bidding_info_"] .text_box {
  position: relative;
  background-color: #f7f8f9;
  color: #454c53;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
}

.info_wide_right [class*="bidding_info_"] .text_box strong {
  font-size: 16px;
}

.info_wide_right [class*="bidding_info_"] .text_box.square_meter:after {
  content: '㎡';
  font-size: 16px;
  font-weight: bold;
  color: #9ea4aa;
  position: absolute;
  right: 16px;
}

.info_wide_right [class*="bidding_info_"] .text_box.won:after {
  content: '원';
  font-size: 16px;
  font-weight: bold;
  color: #9ea4aa;
  position: absolute;
  right: 16px;
}

.info_wide_right [class*="bidding_info_"] .text_box.won.square_meter:after {
  content: '원/㎡';
}

.info_wide_right .bidding_info_1 .bidding_period input {
  text-align: center;
  color: #454c53;
}

.info_wide_right .bidding_info_1 .opening_date {
  margin-top: 24px;
}

.info_wide_right .bidding_info_1 .opening_date input {
  text-align: center;
  font-weight: 600;
  color: #454c53;
}

.info_wide_right .bidding_info_2 .size_box p {
  font-size: 16px;
  font-weight: 600;
}

.info_wide_right .bidding_info_2 .size_box p .refresh_10 {
  position: relative;
  font-size: 10px;
  padding: 0 2px;
  padding-left: 16px;
  border: 1px solid #454c53;
  border-radius: 3px;
  vertical-align: 1px;
}

.info_wide_right .bidding_info_2 .size_box p .refresh_10:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 3px;
  width: 10px;
  height: 10px;
  background: url(images/refresh_10.svg);
}

.info_wide_right .bidding_info_2 .size {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.info_wide_right .bidding_info_2 .size .size1 > label, .info_wide_right .bidding_info_2 .size .size2 > label {
  font-size: 14px;
  font-weight: 400;
  color: #72787f;
}

.info_wide_right .bidding_info_3 .sub_title {
  display: flex;
  justify-content: space-between;
  color: #72787f;
  margin-bottom: 8px;
}

.info_wide_right .bidding_info_3 .sub_title button {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 2em;
}

.info_wide_right .bidding_info_3 .sub_title button .arrow {
  border-color: white;
}

.info_wide_right .bidding_info_3 .min_price label {
  color: #ff6b6b;
}

.info_wide_right .bidding_info_3 .min_price div {
  background-color: transparent;
  border: 2px solid #ff6b6b;
  box-sizing: border-box;
  color: #ff6b6b;
  font-weight: bold;
  font-size: 18px;
}

.info_wide_right .bidding_info_3 .button_box {
  width: 100%;
}

.info_wide_right .bidding_info_3 .button_box button {
  width: 100%;
  padding: 16px;
}

.info_wide_right .bidding_info_3 .button_box button + button {
  margin-top: 16px;
}

.info_wide_right .bidding_info_3 .button_box .outline {
  font-weight: bold;
}
